form{
    position: absolute;
    top: 2%;
    margin-top: 8;
    left: 36%;
    border-radius: 7px;
    background-color: white;
    align-items: center;
    justify-items: center;
    padding: 0 2%;

    input {
        all: unset;
        width: 95%;
      }
      width:25%;
    height: 30px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    input[type='text']{
        
        
        font-size: 12px;
        font-weight: 800;
        
    }
    ::placeholder {
       
        margin: 2%;
        text-align: start;
        
   
    }
   
 

   
}
@media screen and (max-width:900px){
    input[type='text']{
        width: 100%;
       
        font-size: 8px;
       
        
    }
    ::placeholder {
        color:white ;
        font-size:12px;
    }
    
}