.home-page{
    box-sizing: border-box;
    width: 100%;
      
    background-color: $Secondary-color;
    .main-section{
        padding-top: 0.5%;
       
    }

}
@media screen and (max-width:900px){
    .home-page{
       padding-left: 0.8%;
       padding-right: 1.6%;
       height: auto;
      
    }
    
}