.left-sidebar{
    position: fixed;
    width: 19%;
     height: 100vh;
    background-color: $Tertiary-color;
    display: grid;
    grid-template-rows: 30% 65%;
    grid-gap: 2%;
    .logo{
        width: 100px;
        padding: 8%;
    }
}