.left-sidebar{
    position: fixed;
    width: 19%;
     height: 100vh;
    background-color: $Tertiary-color;
    display: grid;
    grid-template-rows: 30% 65%;
    grid-gap: 2%;
    .logo{
        width: 100px;
        padding: 8%;
    }
}

@media screen and (max-width: 900px) {
    .left-sidebar{
       position: fixed;
       bottom: 0%;
       width: 100%;
       height: 10vh;
       justify-content: space-between;
       z-index: 14;
       .logo{
        display: none;
        
    }
    }
   

    
}