.main-section{
   
    position: absolute;
    width: 60%;
    height: 200vh;
    left: 20%;
    margin: 0% 0.4%;
    padding: 0.3% 0%;

    .sections{
        display: grid;
        gap: 2%;
        padding: 2% 0%;
    }
    
   
    .logo{
        width: 100px;
        padding: 8%;

}
}