.main-section{
    position:absolute;
    width: 60%;
    height: 200vh;
    left: 20%;
    margin: 0% 0.4%;
   
    
    .sections{
        display: grid;
        row-gap: 4%;
             
    }

   
    .logo{
        width: 100px;
        padding: 8%;

}
}