.rigth-sidebar{
    position: fixed;
   right: 0;
    width: 18.4%;
    margin-left: 10%;
    height: 100vh;
    display: grid;
    grid-template-rows: 52% 40% ;
    gap: 10%
}
@media screen and (max-width: 900px) {
    .rigth-sidebar{
        display: none;
    }

    
}