$Primary-color:rgba(188, 73, 124, 1);
$Secondary-color:#020403;
$Tertiary-color: #272727;
$filtre-color:rgba(252, 31, 130, 0.6);

*{
    margin: 0px;
    padding: 0px;
}
html{
    margin:0;
    padding: 0;
}

body{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: $Secondary-color
   
}
a{
        all: unset
}

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Open+Sans:wght@600&display=swap');