.user-card{
    height: 8vh;
    background-color: $Tertiary-color;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
   
    button{
        all: unset;
        background-color: $Primary-color;
        width:120px ;
        height: 100%;
        
        border-radius: 4px;
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-around;
       
    }
    button:hover{
        transform: scale(1.1);
    }
    .logout-icon{
        color: é;
    }
    .user-name{
        
        font-size: 16px;
        text-align: center;
        color: white;
        padding-top: 4px;
    }
    .user-avatar{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid 2px white ;
        background-size: cover;
        background-position: center;

    }



   
}